name: Kotlin CI with Kotest

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21.0.5
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21.0.5'

      - name: Grant execute permission for Gradle wrapper
        run: chmod +x ./gradlew

      - name: Build and run tests
        run: ./gradlew test

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2.20.0
        if: always()
        with:
          files: '**/build/test-results/test/*.xml'
